ACCOUNT_MONITOR_MASTER_KEY=coloque-uma-master-key-secreta
ACCOUNT_MONITOR_HOST=0.0.0.0
ACCOUNT_MONITOR_PORT=8400

# Opcionais (sobescrever os padroes)
# AM_ONLINE_WARNING_SEC=10
# AM_OFFLINE_SEC=30
# AM_MAX_TS_SKEW_SEC=60
# AM_NONCE_TTL_SEC=120
# AM_RATE_LIMIT_PER_SEC=1.0
# AM_REQUIRE_HTTPS=0